/*------------------------------------- Body */

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

/*------------------------------------- Colors */

.blue-bg {
    background-color: #165b5f;
}

.light-blue-bg {
    background-color: #78C0A8;
}

.light-gray-bg {
    background-color: #dbdbdb;
}

.txt-white {
    color: white;
}

/*------------------------------------- Paddings/Margins/Text */

.uppercase {
    text-transform: uppercase;
}

.center {
    margin-top: auto;
    margin-bottom: auto;
}

/*------------------------------------- Header */

nav li {
    font-weight: 500;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 150%;
    font-weight: 500;
    font-family: 'PT Serif', serif;
}


/*------------------------------------- Footer */

footer div {
    padding: 10px;
}

footer h5 {
    color: #90e0ef;
}

/*------------------------------------- base.html */

.img-container {
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 360px;
    border-top: 2px solid #dbdbdb;
    border-bottom: 2px solid #dbdbdb;
}

/*------------------------------------- index.html */

.link {
    text-decoration: none;
    color: black;
}

.card {
    border: none;
}

.card-body {
    border-radius: 2px;
}

.image-box {
    position: relative;
}

.border {
    border: 2px solid #dbdbdb;
}

.card-img-top {
    border-radius: 0;
}