{% extends "base.html" %}

{% block content %}

<div class="img-container">
    <img class="width-100"
        src="https://images.pexels.com/photos/1038628/pexels-photo-1038628.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
</div>

<div class="container-fluid">
    <div class="row mx-4">
        <div class="col-12">
            <div class="row mt-4">

                {% for product in product_posts %}
                <div class="col-md-6 col-xl-3">
                    <div class="card mb-3">
                        <a href="{% url 'product_detail' product.slug %}" class="link">
                            <div class="card-body m-2 mb-2">
                                <div class="border">
                                    <div class="image-box">
                                        {% if "placeholder" in product.image.url %}
                                        <img class="card-img-top"
                                            src="https://images.pexels.com/photos/8833426/pexels-photo-8833426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                            alt="No current image">
                                        {% else %}
                                        <img class="card-img-top" src="{{ product.image.url }}"
                                            alt="Photo of {{ product.title }}">
                                        {% endif %}
                                    </div>
                                    <div class="light-green-bg p-2">
                                        <h4>{{ product.title }}</h4>
                                        <p>Price: {{ product.price }}</p>
                                        <p>{{ product.created_on }}</p>
                                        <p class="icon-style">
                                            <i class="far fa-thumbs-down"></i>{{ product.number_of_downvotes }}
                                            <i class="far fa-thumbs-up"></i>{{ product.number_of_upvotes }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}