{% extends 'base.html' %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row my-5 justify-content-center">
        <div class="mt-5 col-10 col-md-6 col-lg-4">
            <h2>Your report has been sent!</h2>
            <p>
                There may be other bugs that are currently considered higher priority. So please be patient and the
                issue you've reported will be taken care of as soon as possible.
            </p>
        </div>
    </div>
</div>

{% endblock %}