{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row my-4 justify-content-center">
        <div class="col-10 col-md-6 col-lg-4">
            {% if user.is_authenticated %}
            <div class="row my-4">
                <h2>Report Bug</h2>
                <p class="mt-2">What bug do you want to report?</p>
                <p>Please explain where on the site you experience the bug and what it entails.</p>
            </div>
            <div class="row">
                <form method="POST" style="margin-top: 1.3em;">
                    {{ report_form | crispy}}
                    {% csrf_token %}
                    <button class="btn-light-blue" type="submit">Submit</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}