{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="img-container">
    <img class="width-100"
        src="https://images.pexels.com/photos/1038628/pexels-photo-1038628.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="">
</div>

<div class="container-fluid">
    <div class="row mx-4 justify-content-center">
        <div class="col-sm-10 col-md-9 col-xl-8 my-5">
            <div class="row my-4 ">
                <div class="col-6 text-center center ">
                    <h2>{{ product.title }}</h2>
                    <p>{{ product.price }} $</p>
                    <br>
                    <p>{{ product.created_on }}</p>
                </div>
                <div class="col-6">
                    {% if "placeholder" in product.image.url %}
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/8833426/pexels-photo-8833426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="No current image">
                    {% else %}
                    <img class="card-img-top" src="{{ product.image.url }}" alt="Photo of {{ product.title }}">
                    {% endif %}
                </div>
            </div>

            <div class="my-5">
                <p>{{ product.description | safe }}</p>
            </div>

            <div class="row my-4">
                <div class="col-md-8">
                    <h3>Comments:</h3>
                    {% for comment in comments %}
                    <div class="card">
                        <div class="card-body">
                            <p>{{ comment.name }} <span>{{ created_on }}</span></p>
                            <p>{{ comment.body }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    {% if user.is_authenticated %}

                    <h3>Share your opinion!</h3>
                    <p></p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button class="btn-light-blue" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}